body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100vh;
}

.background {
  background: url(../images/cinema.jpg) no-repeat 0 0;
  background-size: cover;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.titlebox {
  max-width: 500px;
  padding: 2rem 4rem;
}

h1 {
  color: #fff;
  font-size: 6rem;
}

a {
  color: #00b7ff;
}

button {
  color: #00b7ff;
  cursor: pointer;
  border: none;
  font-size: 1.5rem;
  min-height: 60px;
  border-radius: 30px;
  padding: 0 2rem;
  transition: transform 0.2s ease;
}

button:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

.movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movies-container ul {
  list-style: none;
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.movies-container li {
  width: calc(33.333% - 20px);
  background-color: #fff;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
